.footer {
    height: 5rem;
    left: 0;
    bottom: 0;
    margin-top: 3rem;
    width: 100%;
    border-top: 1px solid #eee;
}

.text-muted {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    color: #777;
}