//NOTE: Typography variables
$font-primary: 'Roboto',
sans-serif;
$font-secondary: serif;
$font-header: 'Playfair Display',
serif;
$font-roboto:'Roboto';

/* set base values */

$text-base-size: 1.6rem;
$text-scale-ratio: 1.2;
//NOTE: Color Variables
$color-text:#333;
$color-text-white:#fff;
$color-primary:#3dc0c99e;
$color-primary-light:#3dc0c954;
$color-primary-dark:#3dc0c9;
$color-secundary-light:#d397f4d0;
$color-secundary-light-2:#d397f454;
$color-secundary-dark:#b040c5;
$color-tertiary-1:#8ba7f4;
$color-tertiary-2:#b4d889;
$color-red-light:rgba(255, 0, 0, 0.625);
$color-red-dark:rgba(255, 0, 0, 0.714);
$color-red-dark-2:rgba(255, 0, 0, 0.865);
$color-white:#fff;
$color-sucess:#5cb85c;
$color-damger:rgba(255, 0, 0, 0.714);
$color-warning:#f0ad4e;
$color-info-1:#0275d8;
$color-info-2:#5bc0de;